<h1 class="h1 text-center">Seminario Angular 2024</h1>

<div class="container">
  <header class="d-flex justify-content-center py-3">
    <div class="nav nav-pills">
      <a  class="nav-item nav-link link-body-emphasis " aria-current="page" [routerLink]="['/']">Lista de personajes</a>
      <a  class="nav-item nav-link link-body-emphasis " [routerLink]="['/favorites']">Mis Favoritos</a>
      <a  class="nav-item nav-link link-body-emphasis " [routerLink]="['/about']">About</a>
    </div>
  </header>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>